/*Plantilla para los forms de contacto y novedades*/
/*Plantilla para las secciones de la biografia*/
/*Variables para los textos*/
/*INDEX*/
.banner {
  background-image: url(https://i.redd.it/qkiu86oypn571.png);
  background-size: cover;
  background-repeat: repeat;
}

.reproductores {
  position: relative;
  overflow: hidden;
  padding-top: 23.25%;
}
.reproductores .reproductor1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.banner2 {
  background-image: url(https://images.complex.com/complex/images/c_fill,dpr_auto,f_auto,q_90,w_1400/fl_lossy,pg_1/n5exwjcsysn1pzh5nkse/tyler-the-creator-call-me-if-you-get-lost-album-cover-interview);
  background-size: cover;
  background-repeat: repeat;
}

/*INDEX MEDIA QUERIES*/
@media (max-width: 425px) {
  .reproductores {
    padding-top: 101.25%;
  }
  .reproductor1 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 50%;
    border: 0;
    margin-left: 15%;
  }
}
@media (min-width: 426px) {
  .reproductores {
    padding-top: 92.25%;
  }
  .reproductor1 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 50%;
    border: 0;
    margin-left: 15%;
  }
}
@media (min-width: 768px) {
  .reproductores {
    padding-top: 49.25%;
  }
  .reproductor1 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 75%;
    border: 0;
    margin-left: 15%;
  }
}
@media (min-width: 1440px) {
  .reproductores {
    padding-top: 23.25%;
  }
  .reproductor1 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 560px;
    height: 315px;
    border: 0;
    margin-left: 35%;
  }
}
/*DISCOGRAFIA*/
#Disc {
  background-color: #68c9d2;
}

/*BIOGRAFIA*/
@font-face {
  font-family: "JackInput";
  src: url(../fonts/JAi_____.TTF);
}
@font-face {
  font-family: "Futura";
  src: url(../fonts/futura-extrabold.ttf);
}
.secciones {
  padding-top: 10%;
  padding-bottom: 10%;
  font-family: "Futura", cursive;
}

.section1 {
  background-image: url("../imagenes/imgbio1.JPG");
  background-size: cover;
}
.section1 p {
  color: white;
  font-family: "Futura", cursive;
}
.section1 h1 {
  font-family: "JackInput", cursive;
  color: white;
}

.section2 {
  background-image: url("../imagenes/imgbio2.JPG");
  background-size: cover;
}
.section2 p {
  color: white;
  font-family: "Futura", cursive;
}
.section2 h1 {
  font-family: "JackInput", cursive;
  color: white;
}

.section3 {
  background-image: url("../imagenes/imgbio3.JPG");
  background-size: cover;
}
.section3 p {
  color: white;
  font-family: "Futura", cursive;
}
.section3 h1 {
  font-family: "JackInput", cursive;
  color: white;
}

.section4 {
  background-image: url("../imagenes/imgbio4.JPG");
  background-size: cover;
}
.section4 p {
  color: white;
  font-family: "Futura", cursive;
}
.section4 h1 {
  font-family: "JackInput", cursive;
  color: white;
}

.section5 {
  background-image: url("../imagenes/imgbio5.JPG");
  background-size: cover;
  background-position: center;
}
.section5 p {
  color: white;
  font-family: "Futura", cursive;
}
.section5 h1 {
  font-family: "JackInput", cursive;
  color: white;
}

.section6 {
  background-image: url("../imagenes/imgbio6.JPG");
  background-size: cover;
}
.section6 p {
  color: white;
  font-family: "Futura", cursive;
}
.section6 h1 {
  font-family: "JackInput", cursive;
  color: white;
}

@media (max-width: 425px) {
  .secciones {
    font-size: smaller;
  }
}
/*NOVEDADES*/
#Nov {
  background-image: url(https://i.redd.it/qkiu86oypn571.png);
  background-size: cover;
  background-repeat: repeat;
}

.bannernov {
  font-family: "JackInput", cursive;
  background-image: url(https://rapradar.com/wp-content/uploads/2023/03/dogfood.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
}

.form1 {
  color: black;
  text-align: center;
  font-size: 20px;
  padding-top: 8%;
  padding-bottom: 23%;
  font-family: "Raleway";
}

.txtcarrousel1 {
  font-size: larger;
}

.txtcarrousel2 {
  font-size: medium;
}

/*NOVEDADES MEDIA QUERIES*/
@media (max-width: 425px) {
  h1 {
    font-size: small;
  }
  .novtext {
    font-size: smaller;
  }
  .carousel-text {
    font-size: smaller;
  }
}
/*CONTACTO*/
#Contac {
  background-image: url(https://i.redd.it/qkiu86oypn571.png);
  background-size: cover;
  background-repeat: repeat;
}

.form2 {
  color: black;
  text-align: center;
  font-size: 20px;
  padding-top: 8%;
  padding-bottom: 23%;
  font-family: "Raleway";
}

.btnsforms {
  margin-top: 10px;
  margin-right: 20px;
}

.divsforms {
  margin-top: 10px;
}

/*CONTACTO MEDIA QUERIES*/
@media (max-width: 425px) {
  .form2 {
    color: black;
    text-align: center;
    font-size: 10px;
    padding-top: 35%;
    padding-bottom: 97%;
    font-family: "Raleway";
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .form2 {
    color: black;
    text-align: center;
    font-size: 12px;
    padding-top: 35%;
    padding-bottom: 97%;
    font-family: "Raleway";
  }
}
@media (min-width: 769px) and (max-width: 768px) {
  .form2 {
    color: black;
    text-align: center;
    font-size: 20px;
    padding-top: 8%;
    padding-bottom: 29%;
    font-family: "Raleway";
  }
}

/*# sourceMappingURL=styles.css.map */
